<table class="table is-bordered is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th colspan="3">Pipa HDPE Rucika Black (Wavin) SDR 13.6 PN 12.5</th>
        </tr>
        <tr>
            <td>Dimensi</td>
            <td rowspan="2">Tebal (mm)</td>
            <td rowspan="2">Harga (Rp/meter)</td>
        </tr>
        <tr>
            <td>OD (mm) - ND (inch)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20 mm - <strong>1/2"</strong></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>25 mm - <strong>3/4"</strong></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>32 mm - <strong>1"</strong></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>40 mm - <strong>1 1/4"</strong></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>50 mm - <strong>1 1/2"</strong></td>
            <td>3.7</td>
            <td>Rp 34,100</td>
        </tr>
        <tr>
            <td>63 mm - <strong>2"</strong></td>
            <td>4.7</td>
            <td>Rp 54,300</td>
        </tr>
        <tr>
            <td>75 mm - <strong>2 1/2"</strong></td>
            <td>5.5</td>
            <td>Rp 76,950</td>
        </tr>
        <tr>
            <td>90 mm - <strong>3"</strong></td>
            <td>6.6</td>
            <td>Rp 110,250</td>
        </tr>
        <tr>
            <td>110 mm - <strong>4"</strong></td>
            <td>8.1</td>
            <td>Rp 163,250</td>
        </tr>
        <tr>
            <td>125 mm - <strong>5"</strong></td>
            <td>9.2</td>
            <td>Rp 210,400</td>
        </tr>
        <tr>
            <td>140 mm - <strong>5"</strong></td>
            <td>10.3</td>
            <td>Rp 263,450</td>
        </tr>
        <tr>
            <td>160 mm - <strong>6"</strong></td>
            <td>11.8</td>
            <td>Rp 343,900</td>
        </tr>
        <tr>
            <td>180 mm - <strong>6"</strong></td>
            <td>13.3</td>
            <td>Rp 436,500</td>
        </tr>
        <tr>
            <td>200 mm - <strong>8"</strong></td>
            <td>14.7</td>
            <td>Rp 535,250</td>
        </tr>
        <tr>
            <td>225 mm - <strong>8"</strong></td>
            <td>16.6</td>
            <td>Rp 679,800</td>
        </tr>
        <tr>
            <td>250 mm - <strong>10"</strong></td>
            <td>18.4</td>
            <td>Rp 836,700</td>
        </tr>
        <tr>
            <td>280 mm - <strong>10"</strong></td>
            <td>20.5</td>
            <td>Rp 1,047,050</td>
        </tr>
        <tr>
            <td>315 mm - <strong>12"</strong></td>
            <td>23.2</td>
            <td>Rp 1,327,850</td>
        </tr>
        <tr>
            <td>355 mm - <strong>14"</strong></td>
            <td>26.1</td>
            <td>Rp 1,685,850</td>
        </tr>
        <tr>
            <td>400 mm - <strong>16"</strong></td>
            <td>29.4</td>
            <td>Rp 2,138,550</td>
        </tr>
        <tr>
            <td>450 mm - <strong>18"</strong></td>
            <td>33.1</td>
            <td>Rp 2,707,200</td>
        </tr>
        <tr>
            <td>500 mm - <strong>20"</strong></td>
            <td>36.8</td>
            <td>Rp 3,338,550</td>
        </tr>
        <tr>
            <td>560 mm - <strong>22"</strong></td>
            <td>41.2</td>
            <td>Rp 4,190,050</td>
        </tr>
        <tr>
            <td>630 mm - <strong>24"</strong></td>
            <td>46.3</td>
            <td>Rp 5,300,950</td>
        </tr>
        <tr>
            <td>710 mm - <strong>28"</strong></td>
            <td>52.2</td>
            <td>-</td>
        </tr>
    </tbody>
</table>