<table class="table is-bordered is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th colspan="3">Pipa HDPE Rucika Black (Wavin) SDR 17 PN 10</th>
        </tr>
        <tr>
            <td>Dimensi</td>
            <td rowspan="2">Tebal (mm)</td>
            <td rowspan="2">Harga (Rp/meter)</td>
        </tr>
        <tr>
            <td>OD (mm) - ND (inch)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20 mm - <strong>1/2"</strong></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>25 mm - <strong>3/4"</strong></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>32 mm - <strong>1"</strong></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>40 mm - <strong>1 1/4"</strong></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>50 mm - <strong>1 1/2"</strong></td>
            <td>3</td>
            <td>Rp 28,050</td>
        </tr>
        <tr>
            <td>63 mm - <strong>2"</strong></td>
            <td>3.8</td>
            <td>Rp 44,700</td>
        </tr>
        <tr>
            <td>75 mm - <strong>2 1/2"</strong></td>
            <td>4.5</td>
            <td>Rp 63,100</td>
        </tr>
        <tr>
            <td>90 mm - <strong>3"</strong></td>
            <td>5.4</td>
            <td>Rp 90,750</td>
        </tr>
        <tr>
            <td>110 mm - <strong>4"</strong></td>
            <td>6.6</td>
            <td>Rp 134,950</td>
        </tr>
        <tr>
            <td>125 mm - <strong>5"</strong></td>
            <td>7.4</td>
            <td>Rp 172,200</td>
        </tr>
        <tr>
            <td>140 mm - <strong>5"</strong></td>
            <td>8.3</td>
            <td>Rp 216,150</td>
        </tr>
        <tr>
            <td>160 mm - <strong>6"</strong></td>
            <td>9.5</td>
            <td>Rp 282,100</td>
        </tr>
        <tr>
            <td>180 mm - <strong>6"</strong></td>
            <td>10.7</td>
            <td>Rp 356,850</td>
        </tr>
        <tr>
            <td>200 mm - <strong>8"</strong></td>
            <td>11.9</td>
            <td>Rp 440,300</td>
        </tr>
        <tr>
            <td>225 mm - <strong>8"</strong></td>
            <td>13.4</td>
            <td>Rp 558,500</td>
        </tr>
        <tr>
            <td>250 mm - <strong>10"</strong></td>
            <td>14.8</td>
            <td>Rp 684,450</td>
        </tr>
        <tr>
            <td>280 mm - <strong>10"</strong></td>
            <td>16.6</td>
            <td>Rp 859,850</td>
        </tr>
        <tr>
            <td>315 mm - <strong>12"</strong></td>
            <td>18.7</td>
            <td>Rp 1,088,850</td>
        </tr>
        <tr>
            <td>355 mm - <strong>14"</strong></td>
            <td>21.1</td>
            <td>Rp 1,385,600</td>
        </tr>
        <tr>
            <td>400 mm - <strong>16"</strong></td>
            <td>23.7</td>
            <td>Rp 1,751,250</td>
        </tr>
        <tr>
            <td>450 mm - <strong>18"</strong></td>
            <td>26.7</td>
            <td>Rp 2,218,900</td>
        </tr>
        <tr>
            <td>500 mm - <strong>20"</strong></td>
            <td>29.6</td>
            <td>Rp 2,733,250</td>
        </tr>
        <tr>
            <td>560 mm - <strong>22"</strong></td>
            <td>33.2</td>
            <td>Rp 3,434,500</td>
        </tr>
        <tr>
            <td>630 mm - <strong>24"</strong></td>
            <td>37.3</td>
            <td>Rp 4,399,550</td>
        </tr>
        <tr>
            <td>710 mm - <strong>28"</strong></td>
            <td>42.1</td>
            <td>-</td>
        </tr>
    </tbody>
</table>