<table class="table is-bordered is-hoverable">
    <thead>
        <tr>
            <th>ND (OD)</th>
            <th colspan="2">S 6,3 - SDR 13,6 (PN 12,5)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch (mm)</td>
            <td>Tebal (mm)</td>
            <td>Harga Per Meter</td>
        </tr>
        <tr>
            <td>1/2" (20)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>3/4" (25)</td>
            <td>2.0</td>
            <td>Rp 9,150 </td>
        </tr>
        <tr>
            <td>1" (32)</td>
            <td>2.4</td>
            <td>Rp 14,000 </td>
        </tr>
        <tr>
            <td>1-1/4" (40)</td>
            <td>3.0</td>
            <td>Rp 22,000 </td>
        </tr>
        <tr>
            <td>1-1/2" (50)</td>
            <td>3.7</td>
            <td>Rp 33,600 </td>
        </tr>
        <tr>
            <td>2" (63)</td>
            <td>4.7</td>
            <td>Rp 53,800 </td>
        </tr>
        <tr>
            <td>2-1/2" (75)</td>
            <td>5.6</td>
            <td>Rp 74,600 </td>
        </tr>
        <tr>
            <td>3" (90)</td>
            <td>6.7</td>
            <td>Rp 106,900 </td>
        </tr>
        <tr>
            <td>4" (110)</td>
            <td>8.1</td>
            <td>Rp 160,700 </td>
        </tr>
        <tr>
            <td>5" (125)</td>
            <td>9.2</td>
            <td>Rp 207,200 </td>
        </tr>
        <tr>
            <td>6" (160)</td>
            <td>11.8</td>
            <td>Rp 339,200 </td>
        </tr>
        <tr>
            <td>7" (180)</td>
            <td>13.3</td>
            <td>Rp 430,200 </td>
        </tr>
        <tr>
            <td>8" (200)</td>
            <td>14.7</td>
            <td>Rp 527,400 </td>
        </tr>
        <tr>
            <td>9" (225)</td>
            <td>16.6</td>
            <td>Rp 669,800 </td>
        </tr>
        <tr>
            <td>10" (250)</td>
            <td>18.4</td>
            <td>Rp 825,000 </td>
        </tr>
        <tr>
            <td>12" (315)</td>
            <td>23.2</td>
            <td>Rp 1,310,200 </td>
        </tr>
        <tr>
            <td>14" (355)</td>
            <td>26.1</td>
            <td>Rp 1,661,000 </td>
        </tr>
        <tr>
            <td>16" (400)</td>
            <td>29.4</td>
            <td>Rp 2,107,100 </td>
        </tr>
        <tr>
            <td>18" (450)</td>
            <td>33.1</td>
            <td>Rp 3,095,700 </td>
        </tr>
        <tr>
            <td>20" (500)</td>
            <td>36.8</td>
            <td>Rp 3,820,200 </td>
        </tr>
        <tr>
            <td>22" (560)</td>
            <td>41.2</td>
            <td>Rp 4,792,800 </td>
        </tr>
        <tr>
            <td>24" (630)</td>
            <td>46.3</td>
            <td>Rp 6,057,500 </td>
        </tr>
        <tr>
            <td>28" (710)</td>
            <td>52.2</td>
            <td>Rp 7,695,700 </td>
        </tr>
        <tr>
            <td>32" (800)</td>
            <td>58.8</td>
            <td>Rp 10,467,200 </td>
        </tr>
        <tr>
            <td>36" (900)</td>
            <td>66.2</td>
            <td>Rp 13,260,400 </td>
        </tr>
        <tr>
            <td>40" (1000)</td>
            <td>72.5</td>
            <td>Rp 16,150,500 </td>
        </tr>
        <tr>
            <td>48" (1200)</td>
            <td>88.2</td>
            <td>Rp 23,542,600 </td>
        </tr>
    </tbody>
</table>