<table class="table is-bordered is-hoverable">
    <thead>
        <tr>
            <th>ND (OD)</th>
            <th colspan="2">S 8 - SDR 17 (PN 10)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch (mm)</td>
            <td>Tebal (mm)</td>
            <td>Harga Per Meter</td>
        </tr>
        <tr>
            <td>1/2" (20)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>3/4" (25)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>1" (32)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>1-1/4" (40)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>1-1/2" (50)</td>
            <td>3.0</td>
            <td>Rp 27,500 </td>
        </tr>
        <tr>
            <td>2" (63)</td>
            <td>3.8</td>
            <td>Rp 44,000 </td>
        </tr>
        <tr>
            <td>2-1/2" (75)</td>
            <td>4.5</td>
            <td>Rp 62,300 </td>
        </tr>
        <tr>
            <td>3" (90)</td>
            <td>5.4</td>
            <td>Rp 89,200 </td>
        </tr>
        <tr>
            <td>4" (110)</td>
            <td>6.6</td>
            <td>Rp 133,200 </td>
        </tr>
        <tr>
            <td>5" (125)</td>
            <td>7.4</td>
            <td>Rp 169,900 </td>
        </tr>
        <tr>
            <td>6" (160)</td>
            <td>9.5</td>
            <td>Rp 278,100 </td>
        </tr>
        <tr>
            <td>7" (180)</td>
            <td>10.7</td>
            <td>Rp 351,400 </td>
        </tr>
        <tr>
            <td>8" (200)</td>
            <td>11.9</td>
            <td>Rp 433,900 </td>
        </tr>
        <tr>
            <td>9" (225)</td>
            <td>13.4</td>
            <td>Rp 550,600 </td>
        </tr>
        <tr>
            <td>10" (250)</td>
            <td>14.8</td>
            <td>Rp 674,700 </td>
        </tr>
        <tr>
            <td>12" (315)</td>
            <td>18.7</td>
            <td>Rp 1,073,100 </td>
        </tr>
        <tr>
            <td>14" (355)</td>
            <td>21.1</td>
            <td>Rp 1,365,800 </td>
        </tr>
        <tr>
            <td>16" (400)</td>
            <td>23.7</td>
            <td>Rp 1,725,800 </td>
        </tr>
        <tr>
            <td>18" (450)</td>
            <td>26.7</td>
            <td>Rp 2,536,400 </td>
        </tr>
        <tr>
            <td>20" (500)</td>
            <td>29.6</td>
            <td>Rp 3,124,800 </td>
        </tr>
        <tr>
            <td>22" (560)</td>
            <td>33.2</td>
            <td>Rp 3,926,500 </td>
        </tr>
        <tr>
            <td>24" (630)</td>
            <td>37.2</td>
            <td>Rp 4,960,800 </td>
        </tr>
        <tr>
            <td>28" (710)</td>
            <td>42.1</td>
            <td>Rp 6,309,800 </td>
        </tr>
        <tr>
            <td>32" (800)</td>
            <td>47.4</td>
            <td>Rp 8,552,300 </td>
        </tr>
        <tr>
            <td>36" (900)</td>
            <td>53.5</td>
            <td>Rp 10,855,200 </td>
        </tr>
        <tr>
            <td>40" (1000)</td>
            <td>59.3</td>
            <td>Rp 13,371,000 </td>
        </tr>
        <tr>
            <td>48" (1200)</td>
            <td>67.9</td>
            <td>Rp 18,467,800 </td>
        </tr>
    </tbody>
</table>