<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-elbow-90" class="button is-black">
    Elbow 90&deg;
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-elbow-45" class="button is-black">
    Elbow 45&deg;
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-socket" class="button is-black">
    Socket/Coupler
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-tee-equal" class="button is-black">
    Tee (Equal)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-tee-reducer" class="button is-black">
    Tee (Reducer)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-reducer" class="button is-black">
    Reducer/Vlok Sock
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-sdd" class="button is-black">
    Socket Drat Dalam
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-sdl" class="button is-black">
    Socket Drat Luar
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-kdd" class="button is-black">
    Elbow/Knee Drat Dalam
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-kdl" class="button is-black">
    Elbow/Knee Drat Luar
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-tdd" class="button is-black">
    Tee Drat Dalam
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-tdl" class="button is-black">
    Tee Drat Luar
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-flange" class="button is-black">
    Flange Adapter/Stub End
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-cap" class="button is-black">
    Cap/Dop
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-gate-valve" class="button is-black">
    Gate Valve/Straight Way Valve
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-ball-valve" class="button is-black">
    Ball Valve
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-rucika-metal-reducer" class="button is-black">
    Metal Reducer With Cap&amp;Nut
</a>

<br><br>