<h3>Pipa AC Tembaga (Copper Tube) Denji ASTM B-280 Pancake (Roll)</h3>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Dimension</th>
            <th>Price (Rp/Roll)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Size: <strong>1/4 inch</strong> (6.35 mm) <br>
                Thickness: 0.030 inch (0.76 mm) <br>
                Length: 15 m <br>
                Weight: 1.79 Kg
            </td>
            <td>Rp 288,000 </td>
        </tr>
        <tr>
            <td>
                Size: <strong>3/8 inch</strong> (9.53 mm) <br> 
                Thickness: 0.032 inch (0.81 mm) <br>
                Length: 15 m <br>
                Weight: 2.97 Kg</td>
            <td>Rp 476,000 </td>
        </tr>
        <tr>
            <td>
                Size: <strong>1/2 inch</strong> (12.70 mm) <br> 
                Thickness: 0.032 inch (0.81 mm) <br>
                Length: 15 m <br>
                Weight: 4.06 Kg
            </td>
            <td>Rp 650,000 </td>
        </tr>
        <tr>
            <td>
                Size: <strong>5/8 inch</strong> (15.88 mm) <br>
                Thickness: 0.035 inch (0.89 mm) <br>
                Length: 15 m <br>
                Weight: 5.60 Kg
            </td>
            <td>Rp 925,000 </td>
        </tr>
        <tr>
            <td>
                Size: <strong>3/4 inch</strong> (19.05 mm) <br>
                Thickness: 0.035 inch (0.89 mm) <br>
                Length: 15 m <br>
                Weight: 6.78 Kg
            </td>
            <td>Rp 1,120,000 </td>
        </tr>
    </tbody>
</table>