<table class="table is-bordered is-hoverable">
        <thead>
            <tr>
                <td>Diameter</td>
                <td colspan="2">Tipe</td>
            </tr>
            <tr>
                <td>Inch - (mm)</td>
                <td><strong>AW</strong></td>
                <td><strong>D</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>1/2″</strong> - (22 mm)</td>
                <td>Rp 21.700</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>3/4″</strong> - (26 mm)</td>
                <td>Rp 30.500</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>1″</strong> - (32 mm)</td>
                <td>Rp 42.200</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>1 1/4″</strong> - (42 mm)</td>
                <td>Rp 61.300</td>
                <td>Rp 38.600</td>
            </tr>
            <tr>
                <td><strong>1 1/2″</strong> - (48 mm)</td>
                <td>Rp 71.900</td>
                <td>Rp 44.800</td>
            </tr>
            <tr>
                <td><strong>2″</strong> - (60 mm)</td>
                <td>Rp 92.800</td>
                <td>Rp 57.000</td>
            </tr>
            <tr>
                <td><strong>2 1/2″</strong> - (76 mm)</td>
                <td>Rp 134.300</td>
                <td>Rp 76.600</td>
            </tr>
            <tr>
                <td><strong>3″</strong> - (89 mm)</td>
                <td>Rp 196.000</td>
                <td>Rp 106.400</td>
            </tr>
            <tr>
                <td><strong>4″</strong> - (114 mm)</td>
                <td>Rp 317.400</td>
                <td>Rp 163.900</td>
            </tr>
            <tr>
                <td><strong>5″</strong> - (140 mm)</td>
                <td>Rp 493.400</td>
                <td>Rp 251.400</td>
            </tr>
            <tr>
                <td><strong>6″</strong> - (165 mm)</td>
                <td>Rp 676.800</td>
                <td>Rp 342.900</td>
            </tr>
            <tr>
                <td><strong>8″</strong> - (216 mm)</td>
                <td>Rp 1.147.000</td>
                <td>Rp 615.900</td>
            </tr>
            <tr>
                <td><strong>10″</strong> - (267 mm)</td>
                <td>Rp 1.721.400</td>
                <td>Rp 953.200</td>
            </tr>
            <tr>
                <td><strong>12″</strong> - (318 mm)</td>
                <td>Rp 2.489.900</td>
                <td>Rp 1.375.000</td>
            </tr>
            <tr>
                <td colspan="3">* Panjang pipa <strong>4 meter</strong> per batang<br> * Warna pipa =
                    <strong>PUTIH</strong><br> *
                    Pipa <strong>dengan socket</strong>/mof di ujung pipa<br> * Perubahan
                    harga dapat terjadi tanpa pemberitahuan terlebih dahulu</td>
            </tr>
        </tbody>
    </table>