<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Diameter</td>
            <td colspan="2">Tipe</td>
        </tr>
        <tr>
            <td>Inch - (mm)</td>
            <td><strong>VP</strong></td>
            <td><strong>VU</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>1/2″</strong> - (22 mm)</td>
            <td>Rp 43.100</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>3/4″</strong> - (26 mm)</td>
            <td>Rp 49.800</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>1″</strong> - (32 mm)</td>
            <td>Rp 70.700</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>1 1/4″</strong> - (42 mm)</td>
            <td>Rp 99.000</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>1 1/2″</strong> - (48 mm)</td>
            <td>Rp 125.000</td>
            <td>Rp 67.400</td>
        </tr>
        <tr>
            <td><strong>2″</strong> - (60 mm)</td>
            <td>Rp 175.600</td>
            <td>Rp 86.200</td>
        </tr>
        <tr>
            <td><strong>2 1/2″</strong> - (76 mm)</td>
            <td>Rp 240.200</td>
            <td>Rp 129.200</td>
        </tr>
        <tr>
            <td><strong>3″</strong> - (89 mm)</td>
            <td>Rp 361.300</td>
            <td>Rp 190.600</td>
        </tr>
        <tr>
            <td><strong>4″</strong> - (114 mm)</td>
            <td>Rp 557.000</td>
            <td>Rp 285.900</td>
        </tr>
        <tr>
            <td><strong>5″</strong> - (140 mm)</td>
            <td>Rp 736.600</td>
            <td>Rp 424.900</td>
        </tr>
        <tr>
            <td><strong>6″</strong> - (165 mm)</td>
            <td>Rp 1.051.600</td>
            <td>Rp 609.300</td>
        </tr>
        <tr>
            <td><strong>8″</strong> - (216 mm)</td>
            <td>Rp 1.663.200</td>
            <td>Rp 1.022.500</td>
        </tr>
        <tr>
            <td><strong>10″</strong> - (267 mm)</td>
            <td>Rp 2.559.200</td>
            <td>Rp 1.644.700</td>
        </tr>
        <tr>
            <td><strong>12″</strong> - (318 mm)</td>
            <td>Rp 3.622.600</td>
            <td>Rp 2.271.100</td>
        </tr>
        <tr>
            <td colspan="3">
                * Harga diatas adalah harga per batang<br>
                * 1 batang pipa = 4 meter<br>
                * Harga sudah termasuk PPN 10% <br>
                * Warna pipa = <strong>ABU-ABU</strong><br> 
                * Standar pipa kelas VP tekanan kerja 10 Kg/cm2<br> 
                * Standar pipa kelas VU tekanan kerja 5 Kg/cm2<br> 
                * Pipa <strong>dengan socket</strong>/mof di ujung pipa<br> 
                * Perubahan harga dapat terjadi tanpa pemberitahuan terlebih dahulu
            </td>
        </tr>
    </tbody>
</table>