<table class="table is-bordered is-hoverable">
    <thead>
        <tr>
            <td>Diameter</td>
            <td colspan="2">Tipe</td>
        </tr>
        <tr>
            <td>Inch - (mm)</td>
            <td><strong>VP</strong></td>
            <td><strong>VU</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>1/2″</strong> - (22 mm)</td>
            <td>Rp 38.100</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>3/4″</strong> - (26 mm)</td>
            <td>Rp 44.000</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>1″</strong> - (32 mm)</td>
            <td>Rp 62.500</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>1 1/4″</strong> - (42 mm)</td>
            <td>Rp 87.600</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>1 1/2″</strong> - (48 mm)</td>
            <td>Rp 110.600</td>
            <td>Rp 59.600</td>
        </tr>
        <tr>
            <td><strong>2″</strong> - (60 mm)</td>
            <td>Rp 155.300</td>
            <td>Rp 76.200</td>
        </tr>
        <tr>
            <td><strong>2 1/2″</strong> - (76 mm)</td>
            <td>Rp 212.500</td>
            <td>Rp 114.300</td>
        </tr>
        <tr>
            <td><strong>3″</strong> - (89 mm)</td>
            <td>Rp 319.700</td>
            <td>Rp 168.600</td>
        </tr>
        <tr>
            <td><strong>4″</strong> - (114 mm)</td>
            <td>Rp 492.900</td>
            <td>Rp 253.000</td>
        </tr>
        <tr>
            <td><strong>5″</strong> - (140 mm)</td>
            <td>Rp 651.800</td>
            <td>Rp 375.900</td>
        </tr>
        <tr>
            <td><strong>6″</strong> - (165 mm)</td>
            <td>Rp 930.600</td>
            <td>Rp 539.200</td>
        </tr>
        <tr>
            <td><strong>8″</strong> - (216 mm)</td>
            <td>Rp 1.471.800</td>
            <td>Rp 904.800</td>
        </tr>
        <tr>
            <td><strong>10″</strong> - (267 mm)</td>
            <td>Rp 2.264.700</td>
            <td>Rp 1.455.400</td>
        </tr>
        <tr>
            <td><strong>12″</strong> - (318 mm)</td>
            <td>Rp 3.205.800</td>
            <td>Rp 2.009.800</td>
        </tr>
        <tr>
            <td colspan="3">* Panjang pipa <strong>4 meter</strong> per batang<br> * Warna pipa =
                <strong>ABU-ABU</strong><br> *
                Pipa <strong>dengan socket</strong>/mof di ujung pipa<br> * Perubahan harga dapat
                terjadi tanpa pemberitahuan
                terlebih dahulu</td>
        </tr>
    </tbody>
</table>