<table class="table is-bordered is-hoverable">
        <thead>
            <tr>
                <td>Diameter</td>
                <td colspan="2">Tipe</td>
            </tr>
            <tr>
                <td>Inch - (mm)</td>
                <td><strong>AW</strong></td>
                <td><strong>D</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>1/2″</strong> - (22 mm)</td>
                <td>Rp 24.600</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>3/4″</strong> - (26 mm)</td>
                <td>Rp 34.500</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>1″</strong> - (32 mm)</td>
                <td>Rp 47.800</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>1 1/4″</strong> - (42 mm)</td>
                <td>Rp 69.300</td>
                <td>Rp 43.700</td>
            </tr>
            <tr>
                <td><strong>1 1/2″</strong> - (48 mm)</td>
                <td>Rp 81.300</td>
                <td>Rp 50.600</td>
            </tr>
            <tr>
                <td><strong>2″</strong> - (60 mm)</td>
                <td>Rp 104.900</td>
                <td>Rp 64.500</td>
            </tr>
            <tr>
                <td><strong>2 1/2″</strong> - (76 mm)</td>
                <td>Rp 151.800</td>
                <td>Rp 86.600</td>
            </tr>
            <tr>
                <td><strong>3″</strong> - (89 mm)</td>
                <td>Rp 221.500</td>
                <td>Rp 120.300</td>
            </tr>
            <tr>
                <td><strong>4″</strong> - (114 mm)</td>
                <td>Rp 358.800</td>
                <td>Rp 185.300</td>
            </tr>
            <tr>
                <td><strong>5″</strong> - (140 mm)</td>
                <td>Rp 557.600</td>
                <td>Rp 284.200</td>
            </tr>
            <tr>
                <td><strong>6″</strong> - (165 mm)</td>
                <td>Rp 764.900</td>
                <td>Rp 387.600</td>
            </tr>
            <tr>
                <td><strong>8″</strong> - (216 mm)</td>
                <td>Rp 1.296.200</td>
                <td>Rp 696.000</td>
            </tr>
            <tr>
                <td><strong>10″</strong> - (267 mm)</td>
                <td>Rp 1.945.200</td>
                <td>Rp 1.077.200</td>
            </tr>
            <tr>
                <td><strong>12″</strong> - (318 mm)</td>
                <td>Rp 2.813.600</td>
                <td>Rp 1.553.800</td>
            </tr>
            <tr>
                <td colspan="3">* Panjang pipa <strong>4 meter</strong> per batang<br> * Warna pipa =
                    <strong>PUTIH</strong><br> *
                    Pipa <strong>dengan socket</strong>/mof di ujung pipa<br> * Perubahan
                    harga dapat terjadi tanpa pemberitahuan terlebih dahulu</td>
            </tr>
        </tbody>
    </table>