<table class="table is-bordered is-hoverable is-fullwidth">
    <thead>
        <tr>
            <td colspan="2">Ukuran</td>
            <td colspan="2">Tipe</td>
        </tr>
        <tr>
            <td>Inch</td>
            <td>mm</td>
            <td><strong>D</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>–</td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1-1/4″</td>
            <td>42</td>
            <td>Rp 40.700</td>
        </tr>
        <tr>
            <td>1-1/2″</td>
            <td>48</td>
            <td>Rp 46.000</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 59.000</td>
        </tr>
        <tr>
            <td>2-1/2″</td>
            <td>76</td>
            <td>Rp 79.700</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 105.800</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 166.400</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 256.300</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 338.100</td>
        </tr>
        <tr>
            <td>8″</td>
            <td>216</td>
            <td>Rp 594.600</td>
        </tr>
        <tr>
            <td>10″</td>
            <td>267</td>
            <td>Rp 979.400</td>
        </tr>
        <tr>
            <td>12″</td>
            <td>318</td>
            <td>Rp 1.374.800</td>
        </tr>
        <tr>
            <td colspan="3">
                * Panjang pipa <strong>4 meter</strong> per batang<br> 
                * Warna pipa = <strong>PUTIH</strong><br> 
                * Standar pipa kelas D tekanan kerja 5 Kg / Cm2<br> 
                * Pipa <strong>dengan socket</strong>/mof di ujung pipa<br> 
                * Perubahan harga dapat terjadi tanpa pemberitahuan terlebih dahulu
            </td>
        </tr>
    </tbody>
</table>