<table class="table is-bordered is-hoverable is-fullwidth">
    <thead>
        <tr>
            <td>Ukuran</td>
            <td colspan="2">Tipe</td>
        </tr>
        <tr>
            <td>Inch - (mm)</td>
            <td><strong>AW</strong></td>
            <td><strong>D</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>1/2″</strong> - (22 mm) </td>
            <td>Rp 23.300</td>
            <td>–</td>
        </tr>
        <tr>
            <td><strong>3/4″</strong> - (26 mm) </td>
            <td>Rp 31.700</td>
            <td>–</td>
        </tr>
        <tr>
            <td><strong>1″</strong> - (32 mm) </td>
            <td>Rp 43.300</td>
            <td>–</td>
        </tr>
        <tr>
            <td><strong>1-1/4″</strong> - (42 mm) </td>
            <td>Rp 64.800</td>
            <td>Rp 40.700</td>
        </tr>
        <tr>
            <td><strong>1-1/2″</strong> - (48 mm) </td>
            <td>Rp 74.400</td>
            <td>Rp 46.000</td>
        </tr>
        <tr>
            <td><strong>2″</strong> - (60 mm) </td>
            <td>Rp 95.200</td>
            <td>Rp 59.000</td>
        </tr>
        <tr>
            <td><strong>2-1/2″</strong> - (76 mm) </td>
            <td>Rp 138.900</td>
            <td>Rp 79.700</td>
        </tr>
        <tr>
            <td><strong>3″</strong> - (89 mm) </td>
            <td>Rp 195.600</td>
            <td>Rp 105.800</td>
        </tr>
        <tr>
            <td><strong>4″</strong> - (114 mm) </td>
            <td>Rp 324.100</td>
            <td>Rp 166.400</td>
        </tr>
        <tr>
            <td><strong>5″</strong> - (140 mm) </td>
            <td>Rp 513.500</td>
            <td>Rp 256.300</td>
        </tr>
        <tr>
            <td><strong>6″</strong> - (165 mm) </td>
            <td>Rp 720.200</td>
            <td>Rp 338.100</td>
        </tr>
        <tr>
            <td><strong>8″</strong> - (216 mm) </td>
            <td>Rp 1.208.600</td>
            <td>Rp 594.600</td>
        </tr>
        <tr>
            <td><strong>10″</strong> - (267 mm) </td>
            <td>Rp 1.868.800</td>
            <td>Rp 979.400</td>
        </tr>
        <tr>
            <td><strong>12″</strong> - (318 mm) </td>
            <td>Rp 2.635.000</td>
            <td>Rp 1.374.800</td>
        </tr>
        <tr>
            <td colspan="3">
                * Panjang pipa <strong>4 meter</strong> per batang<br> 
                * Warna pipa = <strong>PUTIH</strong><br> 
                * Standar pipa kelas AW tekanan kerja 10 Kg / Cm2<br> 
                * Pipa <strong>dengan socket</strong>/mof di ujung pipa<br> 
                * Perubahan harga dapat terjadi tanpa pemberitahuan terlebih dahulu
            </td>
        </tr>
    </tbody>
</table>