{{ partial "header" . }}

<div class="headerspace"></div>

<div id="why-us" class="">
    <div class="row align-items-center">
        <div class="col-xs-12 col-sm-12 col-md-5 col-xl-6 col-lg-5 services-detail-why pipa-pvc min-height750">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-xl-6 col-lg-7 wrap-padding text-left">
            <div class="width400s">
                <span class="welcome">Jual Pipa PVC &amp; Pipa PP-R Rucika</span>
                <div class="section-title with-p">
                    <div>
                        <h1>10+ Tahun Berpengalaman</h1>
                        <h2>Supply Pipa PVC Dan PPR</h2>
                    </div>
                </div>
                <p>
                    Butuh pipa PVC untuk proyek anda? Atau pipa PPR untuk perpipaan air panas? Tanyakan langsung sama sales kami!
                </p>
                <div class="btn-section mt-50">
                    <a href="{{.Site.BaseURL}}/harga-pipa-pvc" class="color-two btn-custom">Lihat Harga Pipa PVC <i class="fas fa-arrow-right"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=6283873544537" class="join-button"><i class="fab fa-telegram-plane"></i> Hubungi Sales</a>
                </div>
            </div>
        </div>
    </div>
</div>


{{ partial "footer" . }}