</main>

<hr>

<!-- #footer area start -->
<footer id="footer">    
    <!-- #footer bottom start -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="copyright text-center">
                    <p>
                        © 2014-{{now.Format "2006"}} PipaJaya, distributor pipa PVC, HDPE dan PP-R. Dibuat dan dipelihara
                        oleh <a href="https://kontraktorweb.com">jasa pembuatan website</a> KontraktorWeb.
                        <br>
                        <a href="{{.Site.BaseURL}}/sitemap.xml">Peta Situs</a> &bull;
                        <a href="{{.Site.BaseURL}}/kebijakan-privasi">Kebijakan Privasi</a> &bull;
                        <a href="{{.Site.BaseURL}}/persyaratan-layanan">Persyaratan Layanan</a> 
                    </p>
                    
                </div>
            </div>
        </div>

        <!-- to top -->
        <div class="cd-top">Top</div>
        <div class="cursor"></div>
        <div class="cursor2"></div>

    </div>
    <!-- #footer bottom end -->
</footer>
<!-- #footer area end -->

<!-- JavaScript File -->
<!-- jQuery -->
<script src='{{.Site.BaseURL}}/js/jquery-3.4.1.min.js'></script>
<!-- Main -->
<script src='{{.Site.BaseURL}}/js/main.js'></script>
<!-- Bootstrap -->
<script src='{{.Site.BaseURL}}/js/bootstrap.min.js'></script>
<!-- Slick -->
<script src='{{.Site.BaseURL}}/js/slick.min.js'></script>
<!-- Fancybox -->
<script src='{{.Site.BaseURL}}/js/jquery.fancybox.pack.js'></script>
<!-- Magnific Popup core JS file -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- Waypoints -->
<script src='{{.Site.BaseURL}}/js/waypoints.min.js'></script>
<!-- Counterup -->
<script src='{{.Site.BaseURL}}/js/jquery.counterup.min.js'></script>
<!-- owl carousel -->
<script src='{{.Site.BaseURL}}/js/owl.carousel.min.js'></script>
<!-- Cursor -->
<script src='{{.Site.BaseURL}}/js/cursor.js'></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-8774212-27"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-8774212-27');
</script>

</body>

</html>