<footer class="footer">
    <div class="container">
        <div class="content columns">
            <div class="column">
                <h3>Hubungi Kami</h3>
                <p><strong>PT Nusa Karya Rajawali</strong></p>
                <p>Ruko Bali View Point Blok C No.40</p>
                <p>Jl. Cirendeu Raya, Pisangan Ciputat Timur</p>
                <p>Tangerang Selatan, Banten 15419</p>
                <p>P: 021 - 2279 6654</p>
            </div>
            <div class="column">
                <h3>Sales</h3>
                <h4>0813 8125 3138</h4>
                <a class="button is-success is-medium" href="https://api.whatsapp.com/send?phone=6281381253138">
                    <span>WhatsApp</span>
                </a>
                <a class="button is-danger is-medium" href="tel:081381253138">
                    <span>Telepon</span>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="column content">
            <p>&copy; 2020 PipaJaya.COM - Distributor Pipa PVC, HDPE dan PPR.</p>
            <p>
                <a href="{{ .Site.BaseURL }}/blog">Blog</a> -
                <a href="{{ .Site.BaseURL }}/sitemap.xml">Sitemap</a>
            </p>
        </div>
    </div>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-8774212-27"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-8774212-27');
</script>
</body>

</html>