<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metas Basic -->
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="{{.Description}}" />
    <meta name="author" content="Jasa pembuatan website KontraktorWeb" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Title -->
    <title>{{.Title}}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{.Site.BaseURL}}/favicon.ico" type="image/x-icon">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/bootstrap.min.css">
    <!-- owl carousel theme default CSS file -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/owl.theme.default.min.css">
    <!-- owl carousel CSS file -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/owl.carousel.min.css">
    <!-- Main Custom CSS -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/main.css">
    <!-- Slick  -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/slick.css">
    <!-- Font Awesome  -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/fontawesome.min.css">
    <!-- jQuery Fancybox  -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/jquery.fancybox.css">
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/magnific-popup.css">
</head>

<body>
    <!-- header area start -->
    <header id="header" class="transparent-header">
        <div class="topheader hidemobile">
            <div class="row">
                <div class="col-lg-7">                    
                    <div class="address-icon">
                        sales@adibratagraha.com
                    </div>
                    <div class="address-icon">
                        tel:<a class="bold" href="tel:+6283873544537">+62 838 7354 4537</a>
                    </div>
                    <div class="address-icon">
                        <a class="bold" href="https://api.whatsapp.com/send?phone=6283873544537">WhatsApp</a>
                    </div>
                </div>
                <div class="col-lg-5 text-right">
                    <div class="custom-page-top">
                        Agen Pipa PVC Rucika dan PP-R Rucika Kelen&reg; Green
                    </div>                   

                    <!-- 
                    <div class="custom-page-top">
                        <a href="{{.Site.BaseURL}}/https://www.drozd.at/blog/">News</a><a
                            href="{{.Site.BaseURL}}/https://www.drozd.at/become-an-widget-call/">Careers</a><a
                            href="{{.Site.BaseURL}}/https://www.drozd.at/services/">FAQ</a>
                    </div>

                    <div class="social_top_header">
                        <a href="{{.Site.BaseURL}}/#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a><a
                            href="{{.Site.BaseURL}}/#"><i class="fab fa-twitter" aria-hidden="true"></i></a><a
                            href="{{.Site.BaseURL}}/#"><i class="fab fa-pinterest" aria-hidden="true"></i></a><a
                            href="{{.Site.BaseURL}}/#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </div> 
                    -->
                </div>
            </div>
        </div>
        <!-- #navigation start -->
        <nav class="navbar navbar-default navbar-expand-md navbar-light" id="navigation" data-offset-top="1">
            <!-- .container -->
            <div class="container">
                <!-- Logo and Menu -->
                <div class="navbar-header">
                    <div class="navbar-brand"><a href="{{.Site.BaseURL}}"><img
                                src="{{.Site.BaseURL}}/images/logo-pipajaya.png" alt="Logo PipaJaya" /></a></div>
                    <!-- site logo -->
                </div>
                <!-- Menu Toogle -->
                <div class="burger-icon">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <div class="collapse navbar-collapse " id="navbarCollapse">
                    <ul class="nav navbar-nav ml-auto">
                        <!-- Menu Link -->
                        <li>
                            <a href="{{.Site.BaseURL}}/harga-pipa-pvc">Harga Pipa PVC</a>
                        </li>
                        <li><a href="{{.Site.BaseURL}}/harga-fitting-pipa-pvc-rucika">Harga Fitting PVC Rucika</a></li>
                        <li><a href="{{.Site.BaseURL}}/harga-pipa-ppr">Harga Pipa PPR</a></li>
                        <li><a href="{{.Site.BaseURL}}/harga-fitting-pipa-ppr-wavin-tigris">Harga Fitting PPR Rucika</a></li>
                        <li class="d-lg-none"><a href="https://api.whatsapp.com/send?phone=6283873544537"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
                        <li class="d-lg-none"><a href="tel:083873544537"><i class="fa fa-phone"></i> Call</a></li>
                    </ul>
                    <div class="header-cta">
                        <a href="https://api.whatsapp.com/send?phone=6283873544537" class="btn btn-1c">Hubungi Sales</a>
                    </div>
                </div>
                <!-- Menu Toogle end -->
            </div>
            <!-- .container end -->
        </nav>
        <!-- #navigation end -->
    </header>
    <!-- end header area -->

    <main>
        <div class="headerspace"></div>