<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Size (mm)</th>
            <th>Cap</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20</td>
            <td>Rp 5,600 </td>
        </tr>
        <tr>
            <td>25</td>
            <td> - </td>
        </tr>
        <tr>
            <td>32</td>
            <td>Rp 8,400 </td>
        </tr>
        <tr>
            <td>40</td>
            <td>Rp 16,700 </td>
        </tr>
        <tr>
            <td>50</td>
            <td>Rp 27,800 </td>
        </tr>
        <tr>
            <td>63</td>
            <td>Rp 41,500 </td>
        </tr>
        <tr>
            <td>75</td>
            <td>Rp 66,600 </td>
        </tr>
        <tr>
            <td>90</td>
            <td>Rp 75,400 </td>
        </tr>
        <tr>
            <td>110</td>
            <td>Rp 105,200 </td>
        </tr>
        <tr>
            <td>125</td>
            <td>Rp 169,600 </td>
        </tr>
        <tr>
            <td>140</td>
            <td> - </td>
        </tr>
        <tr>
            <td>160</td>
            <td>Rp 277,500 </td>
        </tr>
        <tr>
            <td>180</td>
            <td> - </td>
        </tr>
        <tr>
            <td>200</td>
            <td>Rp 832,500 </td>
        </tr>
        <tr>
            <td>225</td>
            <td>Rp 1,243,100 </td>
        </tr>
        <tr>
            <td>250</td>
            <td>Rp 1,581,700 </td>
        </tr>
        <tr>
            <td>280</td>
            <td>Rp 1,387,400 </td>
        </tr>
        <tr>
            <td>315</td>
            <td>Rp 1,942,400 </td>
        </tr>
        <tr>
            <td>355</td>
            <td>Rp 3,550,900 </td>
        </tr>
        <tr>
            <td>400</td>
            <td>Rp 5,280,800 </td>
        </tr>
        <tr>
            <td>450</td>
            <td>Rp 6,477,400 </td>
        </tr>
        <tr>
            <td>500</td>
            <td>Rp 9,529,700 </td>
        </tr>
        <tr>
            <td>560</td>
            <td>Rp 11,142,500 </td>
        </tr>
        <tr>
            <td>630</td>
            <td>Rp 14,957,800 </td>
        </tr>
        <tr>
            <td>710</td>
            <td> - </td>
        </tr>
        <tr>
            <td>800</td>
            <td> - </td>
        </tr>
        <tr>
            <td>900</td>
            <td> - </td>
        </tr>
        <tr>
            <td>1000</td>
            <td> - </td>
        </tr>
        <tr>
            <td>1200</td>
            <td> - </td>
        </tr>
    </tbody>
</table>