<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Size (mm)</th>
            <th>Stub End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20</td>
            <td>Rp 75,000 </td>
        </tr>
        <tr>
            <td>25</td>
            <td>Rp 78,000 </td>
        </tr>
        <tr>
            <td>32</td>
            <td>Rp 80,000 </td>
        </tr>
        <tr>
            <td>40</td>
            <td>Rp 83,720 </td>
        </tr>
        <tr>
            <td>50</td>
            <td>Rp 93,730 </td>
        </tr>
        <tr>
            <td>63</td>
            <td>Rp 95,550 </td>
        </tr>
        <tr>
            <td>75</td>
            <td>Rp 136,500 </td>
        </tr>
        <tr>
            <td>90</td>
            <td>Rp 194,740 </td>
        </tr>
        <tr>
            <td>110</td>
            <td>Rp 252,980 </td>
        </tr>
        <tr>
            <td>125</td>
            <td>Rp 291,200 </td>
        </tr>
        <tr>
            <td>140</td>
            <td>Rp 354,900 </td>
        </tr>
        <tr>
            <td>160</td>
            <td>Rp 400,400 </td>
        </tr>
        <tr>
            <td>180</td>
            <td>Rp 757,120 </td>
        </tr>
        <tr>
            <td>200</td>
            <td>Rp 808,990 </td>
        </tr>
        <tr>
            <td>225</td>
            <td>Rp 959,140 </td>
        </tr>
        <tr>
            <td>250</td>
            <td>Rp 1,114,750 </td>
        </tr>
        <tr>
            <td>280</td>
            <td>Rp 1,974,700 </td>
        </tr>
        <tr>
            <td>315</td>
            <td>Rp 2,054,052 </td>
        </tr>
        <tr>
            <td>355</td>
            <td>Rp 2,538,900 </td>
        </tr>
        <tr>
            <td>400</td>
            <td>Rp 3,463,460 </td>
        </tr>
        <tr>
            <td>450</td>
            <td>Rp 4,868,500 </td>
        </tr>
        <tr>
            <td>500</td>
            <td>Rp 7,462,000 </td>
        </tr>
        <tr>
            <td>560</td>
            <td>Rp 10,010,000 </td>
        </tr>
        <tr>
            <td>630</td>
            <td>Rp 11,102,000 </td>
        </tr>
        <tr>
            <td>710</td>
            <td>Rp 17,199,000 </td>
        </tr>
        <tr>
            <td>800</td>
            <td>Rp 19,110,000 </td>
        </tr>
        <tr>
            <td>900</td>
            <td>Rp 27,664,000 </td>
        </tr>
        <tr>
            <td>1000</td>
            <td>Rp 34,216,000 </td>
        </tr>
        <tr>
            <td>1200</td>
            <td>Rp 47,320,000 </td>
        </tr>
    </tbody>
</table>