<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Size (mm)</th>
            <th>Tee Equal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>50 x 50 x 50</td>
            <td>Rp 123,700 </td>
        </tr>
        <tr>
            <td>63 x 63 x 63</td>
            <td>Rp 156,300 </td>
        </tr>
        <tr>
            <td>75 x 75 x75</td>
            <td>Rp 206,800 </td>
        </tr>
        <tr>
            <td>90 x 90 x 90</td>
            <td>Rp 281,600 </td>
        </tr>
        <tr>
            <td>110 x 110 x 110</td>
            <td>Rp 446,400 </td>
        </tr>
        <tr>
            <td>125 x 125 x 125</td>
            <td>Rp 746,300 </td>
        </tr>
        <tr>
            <td>160 x 160 x 160</td>
            <td>Rp 912,100 </td>
        </tr>
        <tr>
            <td>200 x 200 x 200</td>
            <td>Rp 1,680,300 </td>
        </tr>
        <tr>
            <td>225 x 225 x 225</td>
            <td>Rp 1,937,100 </td>
        </tr>
        <tr>
            <td>250 x 250 x 250 </td>
            <td>Rp 3,254,100 </td>
        </tr>
        <tr>
            <td>280 x 280 x 280 </td>
            <td>Rp 7,091,500 </td>
        </tr>
        <tr>
            <td>315 x 315 x 315</td>
            <td>Rp 7,091,500 </td>
        </tr>
        <tr>
            <td>355 x 355 x 355</td>
            <td>Rp 8,072,600 </td>
        </tr>
        <tr>
            <td>400 x 400 x 400</td>
            <td>Rp 9,318,500 </td>
        </tr>
        <tr>
            <td>450 x 450 x 450 </td>
            <td>Rp 15,351,500 </td>
        </tr>
        <tr>
            <td>500 x 500 x 500</td>
            <td>Rp 37,575,500 </td>
        </tr>
        <tr>
            <td>560 x 560 x 560 </td>
            <td>Rp 68,470,200 </td>
        </tr>
    </tbody>
</table>