<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Size (mm)</th>
            <th>Tee Reducer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> 63 x 32 x 63 </td>
            <td>Rp 141,900 </td>
        </tr>
        <tr>
            <td>63 x 40 x 63 </td>
            <td>Rp 154,600 </td>
        </tr>
        <tr>
            <td>63 x 50 x 63</td>
            <td>Rp 216,400 </td>
        </tr>
        <tr>
            <td>75 x 40 x 75</td>
            <td>Rp 247,300 </td>
        </tr>
        <tr>
            <td>75 x 50 x 75</td>
            <td>Rp 277,500 </td>
        </tr>
        <tr>
            <td>75 x 63 x 75</td>
            <td>Rp 231,200 </td>
        </tr>
        <tr>
            <td>90 x 40 x 90</td>
            <td>Rp 339,300 </td>
        </tr>
        <tr>
            <td>90 x 50 x 90</td>
            <td>Rp 345,600 </td>
        </tr>
        <tr>
            <td>90 x 63 x 90</td>
            <td>Rp 484,700 </td>
        </tr>
        <tr>
            <td>90 x 75 x 90</td>
            <td>Rp 524,700 </td>
        </tr>
        <tr>
            <td>110 x 40 x 110</td>
            <td>Rp 543,000 </td>
        </tr>
        <tr>
            <td>110 x 50 x 110</td>
            <td>Rp 543,000 </td>
        </tr>
        <tr>
            <td>110 x 63 x 110</td>
            <td>Rp 555,000 </td>
        </tr>
        <tr>
            <td>110 x 90 x 110 </td>
            <td>Rp 599,700 </td>
        </tr>
        <tr>
            <td>160 x 63 x 160 </td>
            <td>Rp 1,233,600 </td>
        </tr>
        <tr>
            <td>160 x 90 x 160</td>
            <td>Rp 1,262,900 </td>
        </tr>
        <tr>
            <td>160 x 110 x 160</td>
            <td>Rp 1,262,900 </td>
        </tr>
        <tr>
            <td>200 x 63 x 200</td>
            <td>Rp 1,746,300 </td>
        </tr>
        <tr>
            <td>200 x 90 x 200</td>
            <td>Rp 1,837,100 </td>
        </tr>
        <tr>
            <td>200 x 110 x 200</td>
            <td>Rp 2,405,300 </td>
        </tr>
        <tr>
            <td>200 x 160 x 200</td>
            <td>Rp 2,436,200 </td>
        </tr>
        <tr>
            <td>225 x 160 x 225</td>
            <td>Rp 3,946,500 </td>
        </tr>
        <tr>
            <td>250 x 110 x 250</td>
            <td>Rp 3,492,400 </td>
        </tr>
        <tr>
            <td>250 x 160 x 250</td>
            <td>Rp 3,496,500 </td>
        </tr>
        <tr>
            <td>250 x 200 x 250</td>
            <td>Rp 4,008,300 </td>
        </tr>
        <tr>
            <td>315 x 160 x 315</td>
            <td>Rp 5,057,000 </td>
        </tr>
        <tr>
            <td>315 x 200 x 315</td>
            <td>Rp 5,538,300 </td>
        </tr>
        <tr>
            <td>315 x 250 x 315</td>
            <td>Rp 6,019,500 </td>
        </tr>
        <tr>
            <td>355 x 250 x 355</td>
            <td>Rp 13,016,900 </td>
        </tr>
        <tr>
            <td>400 x 315 x 450</td>
            <td>Rp 14,028,400 </td>
        </tr>
        <tr>
            <td>450 x 315 x 450</td>
            <td>Rp 27,555,400 </td>
        </tr>
        <tr>
            <td>500 x 315 x 500</td>
            <td>Rp 35,070,600 </td>
        </tr>
        <tr>
            <td>500 x 400 x 500</td>
            <td>Rp 35,905,600 </td>
        </tr>
        <tr>
            <td>630 x 500 x 630</td>
            <td>Rp 65,130,300 </td>
        </tr>
    </tbody>
</table>