<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Size (mm)</th>
            <th>Elbow 90&deg;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20</td>
            <td> - </td>
        </tr>
        <tr>
            <td>25</td>
            <td> - </td>
        </tr>
        <tr>
            <td>32</td>
            <td> - </td>
        </tr>
        <tr>
            <td>40</td>
            <td> - </td>
        </tr>
        <tr>
            <td>50</td>
            <td>Rp 92,800 </td>
        </tr>
        <tr>
            <td>63</td>
            <td>Rp 123,700 </td>
        </tr>
        <tr>
            <td>75</td>
            <td>Rp 178,800 </td>
        </tr>
        <tr>
            <td>90</td>
            <td>Rp 231,500 </td>
        </tr>
        <tr>
            <td>110</td>
            <td>Rp 525,500 </td>
        </tr>
        <tr>
            <td>125</td>
            <td>Rp 534,200 </td>
        </tr>
        <tr>
            <td>140</td>
            <td> - </td>
        </tr>
        <tr>
            <td>160</td>
            <td>Rp 832,600 </td>
        </tr>
        <tr>
            <td>180</td>
            <td> - </td>
        </tr>
        <tr>
            <td>200</td>
            <td>Rp 1,644,100 </td>
        </tr>
        <tr>
            <td>225</td>
            <td>Rp 1,760,900 </td>
        </tr>
        <tr>
            <td>250</td>
            <td>Rp 3,052,800 </td>
        </tr>
        <tr>
            <td>280</td>
            <td>Rp 5,180,000 </td>
        </tr>
        <tr>
            <td>315</td>
            <td>Rp 4,212,700 </td>
        </tr>
        <tr>
            <td>355</td>
            <td>Rp 12,409,600 </td>
        </tr>
        <tr>
            <td>400</td>
            <td>Rp 13,623,500 </td>
        </tr>
        <tr>
            <td>450</td>
            <td> - </td>
        </tr>
        <tr>
            <td>500</td>
            <td> - </td>
        </tr>
        <tr>
            <td>560</td>
            <td> - </td>
        </tr>
        <tr>
            <td>630</td>
            <td> - </td>
        </tr>
        <tr>
            <td>710</td>
            <td> - </td>
        </tr>
        <tr>
            <td>800</td>
            <td> - </td>
        </tr>
        <tr>
            <td>900</td>
            <td> - </td>
        </tr>
        <tr>
            <td>1000</td>
            <td> - </td>
        </tr>
        <tr>
            <td>1200</td>
            <td> - </td>
        </tr>
    </tbody>
</table>