<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Size (mm)</th>
            <th>Reducer/Vlok Sock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>63 x 32</td>
            <td>Rp 61,900 </td>
        </tr>
        <tr>
            <td>63 x 40</td>
            <td>Rp 80,800 </td>
        </tr>
        <tr>
            <td>63 x 50</td>
            <td>Rp 86,400 </td>
        </tr>
        <tr>
            <td>75 x 63</td>
            <td>Rp 96,500 </td>
        </tr>
        <tr>
            <td>90 x 63</td>
            <td>Rp 150,600 </td>
        </tr>
        <tr>
            <td>90 x 75</td>
            <td>Rp 160,900 </td>
        </tr>
        <tr>
            <td>110 x 63</td>
            <td>Rp 184,300 </td>
        </tr>
        <tr>
            <td>110 x 90</td>
            <td>Rp 184,300 </td>
        </tr>
        <tr>
            <td>160 x 63</td>
            <td>Rp 342,600 </td>
        </tr>
        <tr>
            <td>160 x 90</td>
            <td>Rp 362,500 </td>
        </tr>
        <tr>
            <td>160 x 110</td>
            <td>Rp 376,100 </td>
        </tr>
        <tr>
            <td>180 x 160</td>
            <td>Rp 572,000 </td>
        </tr>
        <tr>
            <td>200 x 110</td>
            <td>Rp 572,200 </td>
        </tr>
        <tr>
            <td>200 x 160</td>
            <td>Rp 868,500 </td>
        </tr>
        <tr>
            <td>225 x 160</td>
            <td>Rp 1,726,700 </td>
        </tr>
        <tr>
            <td>250 x 160</td>
            <td>Rp 1,213,000 </td>
        </tr>
        <tr>
            <td>250 x 200</td>
            <td>Rp 1,625,400 </td>
        </tr>
        <tr>
            <td>315 x 160</td>
            <td>Rp 1,726,700 </td>
        </tr>
        <tr>
            <td>315 x 200</td>
            <td>Rp 2,260,500 </td>
        </tr>
        <tr>
            <td>315 x 250</td>
            <td>Rp 2,260,500 </td>
        </tr>
        <tr>
            <td>355 x 315</td>
            <td>Rp 3,507,600 </td>
        </tr>
        <tr>
            <td>400 x 250</td>
            <td>Rp 3,608,500 </td>
        </tr>
        <tr>
            <td>400 x 315</td>
            <td>Rp 3,608,500 </td>
        </tr>
        <tr>
            <td>450 x 400</td>
            <td>Rp 4,363,400 </td>
        </tr>
        <tr>
            <td>500 x 400</td>
            <td>Rp 11,105,600 </td>
        </tr>
        <tr>
            <td>500 x 450</td>
            <td>Rp 11,105,600 </td>
        </tr>
        <tr>
            <td>560 x 500</td>
            <td>Rp 12,692,100 </td>
        </tr>
        <tr>
            <td>630 x 500</td>
            <td>Rp 12,692,100 </td>
        </tr>
    </tbody>
</table>