<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga/pcs (Rp)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2"</td>
            <td>Rp 1.500 </td>
        </tr>
        <tr>
            <td>1/2" x 3/4"</td>
            <td>Rp 2.400 </td>
        </tr>
        <tr>
            <td>3/4" x 1/2"</td>
            <td>Rp 2.100 </td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>Rp 2.200 </td>
        </tr>
        <tr>
            <td>1" x 1/2"</td>
            <td>Rp 2.400 </td>
        </tr>
        <tr>
            <td>1" x 3/4"</td>
            <td>Rp 2.500 </td>
        </tr>
        <tr>
            <td>1"</td>
            <td>Rp 2.900 </td>
        </tr>
        <tr>
            <td>1-1/4"</td>
            <td>Rp 5.300 </td>
        </tr>
        <tr>
            <td>1-1/2"</td>
            <td>Rp 7.300 </td>
        </tr>
        <tr>
            <td>2"</td>
            <td>Rp 10.700 </td>
        </tr>
        <tr>
            <td>2-1/2"</td>
            <td>Rp 12.000 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>Rp 25.100 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>Rp 44.400 </td>
        </tr>
    </tbody>
</table>