<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran</td>
            <td> Harga (Rp) </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 1/4″</td>
            <td>Rp 5.000 </td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>Rp 7.500 </td>
        </tr>
        <tr>
            <td>2″</td>
            <td>Rp 10.800 </td>
        </tr>
        <tr>
            <td>2-1/2″</td>
            <td>Rp 16.000 </td>
        </tr>
        <tr>
            <td>3″</td>
            <td>Rp 24.500 </td>
        </tr>
        <tr>
            <td>4″</td>
            <td>Rp 51.000 </td>
        </tr>
        <tr>
            <td>5″</td>
            <td>Rp 92.100 </td>
        </tr>
        <tr>
            <td>6″</td>
            <td>Rp 153.500 </td>
        </tr>
    </tbody>
</table>