<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran</td>
            <td> Harga (Rp) </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 1/2" x 1-1/4"</td>
            <td>Rp 7.200 </td>
        </tr>
        <tr>
            <td>1-1/2"</td>
            <td>Rp 8.500 </td>
        </tr>
        <tr>
            <td>2" x 1-1/4″</td>
            <td>Rp 8.600 </td>
        </tr>
        <tr>
            <td>2″</td>
            <td>Rp 13.300 </td>
        </tr>
        <tr>
            <td>2-1/2″ x 2"</td>
            <td>Rp 16.100</td>
        </tr>
        <tr>
            <td>2-1/2″</td>
            <td>Rp 18.500 </td>
        </tr>
        <tr>
            <td>3" x 2″</td>
            <td>Rp 23.500 </td>
        </tr>
        <tr>
            <td>3″</td>
            <td>Rp 28.700 </td>
        </tr>
        <tr>
            <td>4" x 2″</td>
            <td>Rp 36.600 </td>
        </tr>
        <tr>
            <td>4" x 3″</td>
            <td>Rp 51.600 </td>
        </tr>
        <tr>
            <td>4″</td>
            <td>Rp 60.000 </td>
        </tr>
        <tr>
            <td>5" x 4″</td>
            <td>Rp 86.500 </td>
        </tr>
        <tr>
            <td>6" x 3″</td>
            <td>Rp 126.300 </td>
        </tr>
        <tr>
            <td>6" x 4″</td>
            <td>Rp 150.500 </td>
        </tr>
        <tr>
            <td>6″</td>
            <td>Rp 187.200 </td>
        </tr>
        <tr>
            <td>8" x 4″</td>
            <td>Rp 298.300 </td>
        </tr>
        <tr>
            <td>8" x 6″</td>
            <td>Rp 351.500 </td>
        </tr>
    </tbody>
</table>