<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran</td>
            <td> Harga (Rp) </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 1/2″ x 1 1/4″</td>
            <td>Rp 7.400 </td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>Rp 7.500 </td>
        </tr>
        <tr>
            <td>2″ x 1 1/2″</td>
            <td>Rp 10.900 </td>
        </tr>
        <tr>
            <td>2″</td>
            <td>Rp 14.900 </td>
        </tr>
        <tr>
            <td>2 1/2″ x 1 1/2″</td>
            <td>Rp 15.100 </td>
        </tr>
        <tr>
            <td>2 1/2" x 2″</td>
            <td>Rp 18.500 </td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>Rp 23.200 </td>
        </tr>
        <tr>
            <td>3" x 2″</td>
            <td>Rp 24.300 </td>
        </tr>
        <tr>
            <td>3" x 2 1/2″</td>
            <td>Rp 31.400 </td>
        </tr>
        <tr>
            <td>3″</td>
            <td>Rp 32.000 </td>
        </tr>
        <tr>
            <td>4" x 1-1/2″</td>
            <td>Rp 34.700 </td>
        </tr>
        <tr>
            <td>4" x 2″</td>
            <td>Rp 37.600 </td>
        </tr>
        <tr>
            <td>4" x 3″</td>
            <td>Rp 51.500 </td>
        </tr>
        <tr>
            <td>4″</td>
            <td>Rp 59.000 </td>
        </tr>
        <tr>
            <td>5" x 4″</td>
            <td>Rp 101.700 </td>
        </tr>
        <tr>
            <td>6″ X 3″</td>
            <td>Rp 103.900 </td>
        </tr>
        <tr>
            <td>6″ X 4″</td>
            <td>Rp 129.400 </td>
        </tr>
        <tr>
            <td>6″</td>
            <td>Rp 191.100 </td>
        </tr>
        <tr>
            <td>8" x 4″</td>
            <td>Rp 283.400 </td>
        </tr>
        <tr>
            <td>8" x 6″</td>
            <td>Rp 316.700 </td>
        </tr>
    </tbody>
</table>