
<h4>Fitting PVC Rucika AW</h4>
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-socket" class="btn-custom">
    Socket / Coupler
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-elbow-90" class="btn-custom">
    Elbow 90° / Knee 90°
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-elbow-45" class="btn-custom">
    Elbow 45° / Knee 45°
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-sdd" class="btn-custom">
    Socket Drat Dalam / SDD
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-sdd-kuningan" class="btn-custom">
    Socket Drat Dalam (kuningan)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-sdl" class="btn-custom">
    Socket Drat Luar / SDL
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-kdd" class="btn-custom">
    Elbow / Knee Drat Dalam
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-kdd-kuningan" class="btn-custom">
    Elbow / Knee Drat Dalam (kuningan)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-reducer" class="btn-custom">
    Reducer / Vlok Sok
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-tee" class="btn-custom">Tee</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-tee-y" class="btn-custom">Tee Y (Large Radius Tee)</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-y-branch" class="btn-custom">Y Branch (Tee 45°)</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-tdd" class="btn-custom">Tee Drat Dalam</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-tdd-kuningan" class="btn-custom">
    Tee Drat Dalam (drat kuningan)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-flange" class="btn-custom">
    Flange (Stub End)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-cap" class="btn-custom">Cap (Dop)</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-plug" class="btn-custom">
    Plug (Dop Drat Luar)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-double-nipple" class="btn-custom">
    Double Nipple (Plug 2 sisi)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-watermur-sock" class="btn-custom">
    Watermur/Union Socket
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-watermur-drat" class="btn-custom">
    Watermur/Union Drat
</a>

<br><br>


<hr>

<h4>Fitting PVC Rucika D</h4>
<br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-socket" class="btn-custom">
    Socket / Coupler
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-elbow-90" class="btn-custom">
    Elbow / Knee 90°
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-elbow-45" class="btn-custom">
    Elbow/Knee 45°
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-tee" class="btn-custom">Tee</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-reducer" class="btn-custom">Reducer/Vlok Sock</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-tee-y" class="btn-custom">Tee Y (Large Radius Tee)</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-y-branch" class="btn-custom">Y Branch (Tee 45°)</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-cap" class="btn-custom">Cap/Dop</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-p-trap" class="btn-custom">P Trap (Leher Angsa)</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-clean-out" class="btn-custom">Clean Out</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-clean-out-cap" class="btn-custom">Clean Out Cap</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-long-elbow" class="btn-custom">
    Long Elbow (Large Radius Elbow)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-double-tee" class="btn-custom">Double Tee</a>