<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran</td>
            <td> Harga (Rp) </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 1/4″</td>
            <td>Rp 2.900 </td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>Rp 3.400 </td>
        </tr>
        <tr>
            <td>2″</td>
            <td>Rp 6.900 </td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>Rp 9.200 </td>
        </tr>
        <tr>
            <td>3″</td>
            <td>Rp 15.100 </td>
        </tr>
        <tr>
            <td>4″</td>
            <td>Rp 25.800 </td>
        </tr>
        <tr>
            <td>5″</td>
            <td>Rp 49.100 </td>
        </tr>
        <tr>
            <td>6″</td>
            <td>Rp 95.300 </td>
        </tr>
        <tr>
            <td>8″</td>
            <td>Rp 210.400 </td>
        </tr>
        <tr>
            <td>10″</td>
            <td>Rp 293.000 </td>
        </tr>
        <tr>
            <td>12″</td>
            <td>Rp 460.600 </td>
        </tr>
    </tbody>
</table>