<table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Ukuran (inch)</td>
                <td>Harga/pcs (Rp)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1"</td>
                <td>Rp 5.000 </td>
            </tr>
            <tr>
                <td>1-1/4"</td>
                <td>Rp 8.600 </td>
            </tr>
            <tr>
                <td>1-1/2"</td>
                <td>Rp 10.800 </td>
            </tr>
            <tr>
                <td>2"</td>
                <td>Rp 18.400 </td>
            </tr>
            <tr>
                <td>2-1/2"</td>
                <td>Rp 28.100 </td>
            </tr>
            <tr>
                <td>3"</td>
                <td>Rp 44.500 </td>
            </tr>
            <tr>
                <td>4"</td>
                <td>Rp 77.100 </td>
            </tr>
            <tr>
                <td>5"</td>
                <td>Rp 113.800 </td>
            </tr>
            <tr>
                <td>6"</td>
                <td>Rp 220.200 </td>
            </tr>
            <tr>
                <td>8"</td>
                <td>Rp 473.300 </td>
            </tr>
            <tr>
                <td>10"</td>
                <td>Rp 955.400 </td>
            </tr>
        </tbody>
    </table>