<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran</td>
            <td> Harga (Rp) </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 1/4″</td>
            <td>Rp 2.000 </td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>Rp 2.400 </td>
        </tr>
        <tr>
            <td>2″</td>
            <td>Rp 3.700 </td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>Rp 6.100 </td>
        </tr>
        <tr>
            <td>3″</td>
            <td>Rp 9.500 </td>
        </tr>
        <tr>
            <td>4″</td>
            <td>Rp 17.100 </td>
        </tr>
        <tr>
            <td>5″</td>
            <td>Rp 32.200 </td>
        </tr>
        <tr>
            <td>6″</td>
            <td>Rp 42.000 </td>
        </tr>
        <tr>
            <td>8″</td>
            <td>Rp 111.300 </td>
        </tr>
        <tr>
            <td>10″</td>
            <td>Rp 170.100 </td>
        </tr>
    </tbody>
</table>