<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran</td>
            <td> Harga (Rp) </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 1/4″</td>
            <td>Rp 3.100 </td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>Rp 4.000 </td>
        </tr>
        <tr>
            <td>2″</td>
            <td>Rp 6.600 </td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>Rp 10.600 </td>
        </tr>
        <tr>
            <td>3″</td>
            <td>Rp 15.500 </td>
        </tr>
        <tr>
            <td>4″</td>
            <td>Rp 31.000 </td>
        </tr>
        <tr>
            <td>5″</td>
            <td>Rp 76.100 </td>
        </tr>
        <tr>
            <td>6″</td>
            <td>Rp 90.700 </td>
        </tr>
        <tr>
            <td>8″</td>
            <td>Rp 199.700 </td>
        </tr>
        <tr>
            <td>10″</td>
            <td>Rp 397.600 </td>
        </tr>
        <tr>
            <td>12″</td>
            <td>Rp 601.100 </td>
        </tr>
    </tbody>
</table>