<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga/pcs (Rp)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>3/4" x 1/2"</td>
            <td>Rp 2.400 </td>
        </tr>
        <tr>
            <td>1" x 1/2"</td>
            <td>Rp 2.500 </td>
        </tr>
        <tr>
            <td>1" x 3/4"</td>
            <td>Rp 3.300 </td>
        </tr>
        <tr>
            <td>1-1/4" x 1/2"</td>
            <td>Rp 3.600 </td>
        </tr>
        <tr>
            <td>1-1/4" x 3/4"</td>
            <td>Rp 4.200 </td>
        </tr>
        <tr>
            <td>1-1/4" x 1"</td>
            <td>Rp 5.000 </td>
        </tr>
        <tr>
            <td>1-1/2" x 1/2"</td>
            <td>Rp 5.300 </td>
        </tr>
        <tr>
            <td>1-1/2" x 3/4"</td>
            <td>Rp 5.600 </td>
        </tr>
        <tr>
            <td>1-1/2" x 1"</td>
            <td>Rp 6.900 </td>
        </tr>
        <tr>
            <td>1-1/2" x 1-1/4"</td>
            <td>Rp 7.800 </td>
        </tr>
        <tr>
            <td>2" x 1/2"</td>
            <td>Rp 8.100 </td>
        </tr>
        <tr>
            <td>2" x 3/4"</td>
            <td>Rp 8.600 </td>
        </tr>
        <tr>
            <td>2" x 1"</td>
            <td>Rp 9.400 </td>
        </tr>
        <tr>
            <td>2" x 1-1/4"</td>
            <td>Rp 11.000 </td>
        </tr>
        <tr>
            <td>2" x 1-1/2"</td>
            <td>Rp 11.800 </td>
        </tr>
        <tr>
            <td>2-1/2" x 1-1/2"</td>
            <td>Rp 17.100 </td>
        </tr>
        <tr>
            <td>2-1/2" x 2"</td>
            <td>Rp 18.500 </td>
        </tr>
        <tr>
            <td>3" x 3/4"</td>
            <td>Rp 13.700 </td>
        </tr>
        <tr>
            <td>3" x 1"</td>
            <td>Rp 14.200 </td>
        </tr>
        <tr>
            <td>3" x 1-1/4"</td>
            <td>Rp 17.300 </td>
        </tr>
        <tr>
            <td>3" x 1-1/2"</td>
            <td>Rp 19.200 </td>
        </tr>
        <tr>
            <td>3" x 2"</td>
            <td>Rp 20.700 </td>
        </tr>
        <tr>
            <td>3" x 2-1/2"</td>
            <td>Rp 30.800 </td>
        </tr>
        <tr>
            <td>4" x 1-1/2"</td>
            <td>Rp 50.800 </td>
        </tr>
        <tr>
            <td>4" x 2"</td>
            <td>Rp 55.100 </td>
        </tr>
        <tr>
            <td>4" x 2-1/2"</td>
            <td>Rp 56.300 </td>
        </tr>
        <tr>
            <td>4" x 3"</td>
            <td>Rp 59.000 </td>
        </tr>
        <tr>
            <td>5" x 3"</td>
            <td>Rp 80.400 </td>
        </tr>
        <tr>
            <td>5" x 4"</td>
            <td>Rp 89.000 </td>
        </tr>
        <tr>
            <td>6" x 3"</td>
            <td>Rp 101.200 </td>
        </tr>
        <tr>
            <td>6" x 4"</td>
            <td>Rp 110.400 </td>
        </tr>
        <tr>
            <td>6" x 5"</td>
            <td>Rp 115.700 </td>
        </tr>
        <tr>
            <td>8" x 4"</td>
            <td>Rp 198.600 </td>
        </tr>
        <tr>
            <td>8" x 5"</td>
            <td>Rp 213.200 </td>
        </tr>
        <tr>
            <td>8" x 6"</td>
            <td>Rp 226.500 </td>
        </tr>
        <tr>
            <td>10" x 8"</td>
            <td>Rp 396.000 </td>
        </tr>
    </tbody>
</table>