<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga/pcs (Rp)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2"</td>
            <td>Rp 2.900 </td>
        </tr>
        <tr>
            <td>3/4" x 1/2"</td>
            <td>Rp 4.000 </td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>Rp 4.000 </td>
        </tr>
        <tr>
            <td>1" x 1/2"</td>
            <td>Rp 5.900 </td>
        </tr>
        <tr>
            <td>1" x 3/4"</td>
            <td>Rp 6.100 </td>
        </tr>
        <tr>
            <td>1"</td>
            <td>Rp 6.500 </td>
        </tr>
        <tr>
            <td>1-1/4" x 1/2"</td>
            <td>Rp 8.700 </td>
        </tr>
        <tr>
            <td>1-1/4" x 3/4"</td>
            <td>Rp 9.200 </td>
        </tr>
        <tr>
            <td>1-1/4" x 1"</td>
            <td>Rp 10.400 </td>
        </tr>
        <tr>
            <td>1-1/4"</td>
            <td>Rp 10.700 </td>
        </tr>
        <tr>
            <td>1-1/2" x 1/2"</td>
            <td>Rp 12.000 </td>
        </tr>
        <tr>
            <td>1-1/2" x 3/4"</td>
            <td>Rp 12.000 </td>
        </tr>
        <tr>
            <td>1-1/2" x 1"</td>
            <td>Rp 12.800 </td>
        </tr>
        <tr>
            <td>1-1/2" x 1-1/4"</td>
            <td>Rp 14.300 </td>
        </tr>
        <tr>
            <td>1-1/2"</td>
            <td>Rp 14.300 </td>
        </tr>
        <tr>
            <td>2" x 1/2"</td>
            <td>Rp 14.400 </td>
        </tr>
        <tr>
            <td>2" x 3/4"</td>
            <td>Rp 14.600 </td>
        </tr>
        <tr>
            <td>2" x 1"</td>
            <td>Rp 15.100 </td>
        </tr>
        <tr>
            <td>2" x 1-1/4"</td>
            <td>Rp 20.800 </td>
        </tr>
        <tr>
            <td>2" x 1-1/2"</td>
            <td>Rp 20.900 </td>
        </tr>
        <tr>
            <td>2"</td>
            <td>Rp 22.800 </td>
        </tr>
        <tr>
            <td>2-1/2" x 1-1/2"</td>
            <td>Rp 34.600 </td>
        </tr>
        <tr>
            <td>2-1/2" x 2"</td>
            <td>Rp 34.900 </td>
        </tr>
        <tr>
            <td>2-1/2"</td>
            <td>Rp 37.200 </td>
        </tr>
        <tr>
            <td>3" x 3/4"</td>
            <td>Rp 31.000 </td>
        </tr>
        <tr>
            <td>3" x 1"</td>
            <td>Rp 31.900 </td>
        </tr>
        <tr>
            <td>3" x 1-1/4"</td>
            <td>Rp 35.800 </td>
        </tr>
        <tr>
            <td>3" x 1-1/2"</td>
            <td>Rp 37.500 </td>
        </tr>
        <tr>
            <td>3" x 2"</td>
            <td>Rp 40.400 </td>
        </tr>
        <tr>
            <td>3" x 2-1/2"</td>
            <td>Rp 46.100 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>Rp 52.700 </td>
        </tr>
        <tr>
            <td>4" x 1-1/2"</td>
            <td>Rp 80.500 </td>
        </tr>
        <tr>
            <td>4" x 2"</td>
            <td>Rp 81.200 </td>
        </tr>
        <tr>
            <td>4" x 3"</td>
            <td>Rp 98.800 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>Rp 105.200 </td>
        </tr>
        <tr>
            <td>5" x 3"</td>
            <td>Rp 139.800 </td>
        </tr>
        <tr>
            <td>5" x 4"</td>
            <td>Rp 143.600 </td>
        </tr>
        <tr>
            <td>5"</td>
            <td>Rp 185.600 </td>
        </tr>
        <tr>
            <td>6" x 2"</td>
            <td>Rp 209.100 </td>
        </tr>
        <tr>
            <td>6" x 3"</td>
            <td>Rp 232.600 </td>
        </tr>
        <tr>
            <td>6" x 4"</td>
            <td>Rp 242.500 </td>
        </tr>
        <tr>
            <td>6" x 5"</td>
            <td>Rp 262.300 </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>Rp 264.700 </td>
        </tr>
        <tr>
            <td>8"</td>
            <td>Rp 584.700 </td>
        </tr>
    </tbody>
</table>