<table class="table is-bordered is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Diameter (inch-mm)</th>
            <th>Ketebalan VP</th>
            <th>Ketebalan VU</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>1/2"</strong> (22mm)</td>
            <td>2.7</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><strong>3/4"</strong> (26mm)</td>
            <td>2.7</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><strong>1"</strong> (32mm)</td>
            <td>3.1</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><strong>1 1/4"</strong> (42mm)</td>
            <td>3.5</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><strong>1 1/2"</strong> (48mm)</td>
            <td>3.6</td>
            <td>1.8</td>
        </tr>
        <tr>
            <td><strong>2"</strong> (60mm)</td>
            <td>4.1</td>
            <td>1.8</td>
        </tr>
        <tr>
            <td><strong>2 1/2"</strong> (76mm)</td>
            <td>4.1</td>
            <td>2.2</td>
        </tr>
        <tr>
            <td><strong>3"</strong> (89mm)</td>
            <td>5.5</td>
            <td>2.7</td>
        </tr>
        <tr>
            <td><strong>4"</strong> (114mm)</td>
            <td>6.6</td>
            <td>3.1</td>
        </tr>
        <tr>
            <td><strong>5"</strong> (140mm)</td>
            <td>7</td>
            <td>4.1</td>
        </tr>
        <tr>
            <td><strong>6"</strong> (165mm)</td>
            <td>8.9</td>
            <td>5.1</td>
        </tr>
        <tr>
            <td><strong>8"</strong> (216mm)</td>
            <td>10.3</td>
            <td>6.5</td>
        </tr>
        <tr>
            <td><strong>10"</strong> (267mm)</td>
            <td>12.7</td>
            <td>7.8</td>
        </tr>
        <tr>
            <td><strong>12"</strong> (318mm)</td>
            <td>15.1</td>
            <td>9.2</td>
        </tr>
    </tbody>
</table>