<table class="table is-bordered is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Diameter (inch-mm)</th>
            <th>C</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>5/8"</strong> (17mm)</td>
            <td>0.8</td>
        </tr>
        <tr>
            <td><strong>1/2"</strong> (22mm)</td>
            <td>1.0</td>
        </tr>
        <tr>
            <td><strong>3/4"</strong> (26mm)</td>
            <td>1.2</td>
        </tr>
        <tr>
            <td><strong>1"</strong> (32mm)</td>
            <td>1.2</td>
        </tr>
    </tbody>
</table>