<div class="text-center" style="padding: 30px; background:#DDD; margin:30px 0;">
    <p>
        Untuk informasi stok dan diskon, silahkan hubungi sales: 
    </p>
    <p><strong>0813-8125-3138</strong></p>
    <p>
        <a class="btn btn-dark text-white" href="https://api.whatsapp.com/send?phone=6281381253138">
            <i class="fab fa-whatsapp"></i> WhatsApp
        </a>
        <a class="btn btn-dark text-white" href="tel:081381253138">
            <i class="fas fa-phone"></i> Call
        </a>
    </p>
</div>